$dark: #151B1D;
$grey: #600CE8;
$vibrant: #600CE8;
$pink: #F43270;
$green: #66ccaa;
$subtle: #023852;
$light: #ECE2E4;

*
    // outline: 1px solid rgba(255,0,85,.2)
    box-sizing: border-box

html
    background-color: $dark
    color: $light
    font: 2.5vmin/150% 'arial', 'tahoma', 'noto sans', 'liberation sans', 'sans-serif'

html, body
    margin: 0
    padding: 0

main
    width: 100vmin
    height: 100vmin
    position: fixed
    left: calc(50% - 50vmin)
    top: calc(50% - 50vmin)
    position: relative

#stage
    width: 100%
    height: 100%
    text-align: center
    font-size: 0
    position: absolute
    position: relative
    &:after
        content: ""
        width: 100%
        height: 50%
        background: linear-gradient(to bottom, $dark, transparentize($dark, 1))
        position: absolute
        display: block
    .ui-row
        position: absolute
        width: 100%
        height: 20%
    #active-zone
        background: $subtle
        bottom: 20%
        transition: .1s ease-out
        &.good
            background-color: $green
            transition: 0s linear
        &.pgood
            box-shadow: 0 0 0 1vmin $vibrant inset
            transition: 0s linear
        &.bad
            box-shadow: 0 0 0 2vmin $pink inset
            transition: 0s linear
    #player-zone
        bottom: 0%
        font-size: 1rem
        padding-top: 5vmin
    #stack
        width: 100%
        bottom: 20%
        position: absolute
        span
            display: block
            font-size: 2rem
            height: 10vmin
            line-height: 10vmin
            &:last-of-type
                font-size: 4rem
                height: 20vmin
                line-height: 20vmin
                margin-top: 2vmin
#lobby
    .player
        position: absolute
        top: 0
        right: 0
        font-size: 1rem
        width: 40vmin
        padding-right: 12vmin
        padding-top: 2vmin
        .icon
            position: absolute
            right: 2vmin
            top: 2vmin
            width: 8vmin
            height: 8vmin
            border: .5vmin solid $light
        .player-row
            line-height: 4vmin
            height: 4vmin
            display: block
            text-align: right

.panel
    position: fixed
    left: 0
    top: 0
    background: $light
    color: $dark
    width: 100%
    height: 100%
    text-align: center
    #menu-body
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    button, .input-container
        display: block
        margin: 1rem auto
        font-size: 2rem
        background: $green
        color: $dark
        padding: .5rem 2rem
        outline: 0
        border-radius: 0
        border: none
        box-shadow: none
        transition: .2s ease
        cursor: pointer
        &:focus, &:active
            outline: 0
    .input-container
        max-width: 50%
        margin: .5rem auto
        padding: 1.5rem 0
        input
            font-size: 1.5rem
            display: block
            padding: 0
            margin: 0 auto
            background: transparent
            border: 0
            border-bottom: 4px solid $vibrant
            margin-top: .75rem
            text-align: center
            color: $pink
            &:focus, &:active
                outline: 0

    h1
        color: $vibrant

.hidden
    opacity: 0
    transform: scale(0.5)
    pointer-events: none
    height: 0

#instructions
    display: none

#show-instructions:focus + #instructions
    display: block
    width: 60vmin
    height: 40vmin
    padding: 10vmin
    background: $grey
    color: $light
    position: fixed
    top: 50%
    left: 50%
    margin-left: -30vmin
    margin-top: -20vmin
    h1
        color: $pink
    .close-button
        color: $light
        background: $pink
        width: 6vmin
        height: 6vmin
        text-align: center
        position: absolute
        top: 0
        right: 0
        margin: 0
        line-height: 5vmin
        padding-top: 0

#no-player
    top: 0
    right: 0
    position: absolute
    background: $subtle
    width: 10rem
    height: 6rem
    a
        color: $light
        text-decoration: none
        background: $vibrant
        padding: .5rem 1rem
        display: block
        text-align: center
        margin: 1rem
        &:hover
            background: $pink
        span
            display: block
            font-size: 0.8rem
